$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


.hide {display: none;
}
.show {display: visible;
}

$red: #f00;
$top-nav-background: #ff0;

.square {
  border: 5px solid $red;
  height: 50vw;
  text-align: center;
  width: 50vw;
}

// .grid {}
//
// .grid::before,
// .grid::after {
//   clear: both;
//   content: '';
//   display: block;
// }
.outer-grid {
  height: 75vw;
  margin: 0 auto;
  text-align: center;
  width: 75vw;
}

.grid-item {
  border: 1px solid $red;
  margin: 0 auto;
  padding: 0;
  float: left;
  height: 25vw;
  text-align: center;
  font-size: 10vw;
  width: 25vw;
}

nav {
  background-color: $top-nav-background;
  height: 10%;
}

.top-nav {
//  text-align: center;
  background-color: $top-nav-background;
  border: 1px solid $red;
//  height: 100%;
  // float: left;
//  height: auto;
//  text-align: center;
//  width: 35vw;
//  height: auto;
//  display: inline-block;
}
